@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Colors

$background-color-main: #e5e5e5;
$background-color-secondary: #ffffff;
$border-color: #dbdbdb;
$default-font-color: black;
$light-font-color: #8e8e8e;
$lighter-font-color: #c7c7c7;
$follow-button-color: #139ef2;
$search-box-color: #fafafa;
$publish-button-color: #b2dffc;
$publish-button-color--hover: #0095f6;

// Fonts

$default-font: "Roboto", sans-serif;

//Font sizes

$font-11px: 0.6875rem;
$font-12px: 0.75rem;
$font-14px: 0.875rem;
$font-18px: 1.125rem;
$font-20px: 1.25rem;
$font-24px: 1.5rem;
$font-32px: 2rem;
$font-52px: 3.25rem;

//Mixins

@mixin desktop-between-614px-and-935px() {
    @media screen and (min-width: 620px) {
        @content;
    }
}

@mixin desktop-min-614px() {
    @media screen and (min-width: 620px) {
        @content;
    }
}

@mixin phone-max-935px() {
    @media screen and (max-width: 935px) {
        @content;
    }
}

@mixin card-size($card-size) {
    @media screen and (min-width: 620px) {
        width: $card-size;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@mixin border-full-desktop() {
    @media screen and (min-width: 620px) {
        border: 1px solid $border-color;
        border-radius: 3px;
    }
}

@mixin hide-on-mobile() {
    @media screen and (max-width: 620px) {
        display: none;
    }
}

@mixin hide-on-desktop() {
    @media screen and (min-width: 620px) {
        display: none;
    }
}

%border-default-full {
    border: 1px solid $border-color;
}
%border-default-top {
    border-top: 1px solid $border-color;
}
%border-default-right {
    border-right: 1px solid $border-color;
}
%border-default-bottom {
    border-bottom: 1px solid $border-color;
}
%border-default-left {
    border-left: 1px solid $border-color;
}
%tamanho-do-card-935px {
    width: 935px;
}

// General rules

body {
    font-family: $default-font;
}

body:empty {
    display: none;
}

ion-icon {
    color: $default-font-color;
    vertical-align: middle;
}

a {
    text-decoration: none;

    &:visited {
        color: $default-font-color;
    }
}
small {
    color: $light-font-color;
}

strong {
    font-weight: 500;
}

main {
    padding-top: 54px;

    @include desktop-min-614px() {
        background-color: $background-color-main;
        padding-top: 88px;
        padding-bottom: 34px;
    }
}

.button {
    cursor: pointer;
}

.link-profile-1 {
    font-weight: 500;

    &:focus {
        opacity: 0.7;
    }
}

.link-profile-2 {
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
    &:focus {
        opacity: 0.7;
    }
}

// Header

.header-background {
    height: 54px;
    position: fixed;
    width: 100%;
    background-color: $background-color-secondary;
    z-index: 1;
}

.header {
    background-color: $background-color-secondary;

    @extend %border-default-bottom;

    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;

    max-width: 935px;
    margin: 0 auto;

    overflow: hidden;

    &__desktop-set {
        display: flex;
        flex-direction: row;

        &.middle {
            @include hide-on-mobile();
        }

        &__search-box {
            width: 215px;
            padding: 8px;
            background-color: $search-box-color;

            @include border-full-desktop();
            @include hide-on-mobile();

            &:focus {
                outline: none;
                &::placeholder {
                    color: transparent;
                }
            }

            &::placeholder {
                text-align: center;
            }
        }
    }

    &__icons-set {
        display: flex;
        flex-direction: row;

        &--mobile {
            @include hide-on-mobile();
        }
    }

    &__icon-button {
        font-size: 1.5rem;
        margin: 15px;

        &--mobile {
            @include hide-on-mobile();
        }

        &--desktop {
            @include hide-on-desktop();
        }
    }

    &__logo {
        display: flex;
        align-items: center;
    }
}

// Timeline - Positioning

.timeline {
    z-index: -1;

    @include desktop-min-614px() {
        display: flex;

        justify-content: center;
    }
}

// Stories

.stories {
    height: 121px;

    @extend %border-default-top;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color-main;

    overflow: hidden;

    padding: 0 15px;

    @include card-size(614px);

    @include desktop-min-614px() {
        background-color: $background-color-secondary;
        margin-bottom: 24px;
    }

    @include border-full-desktop();

    &__arrow-right {
        position: absolute;
        right: 10px;

        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));

        ion-icon {
            font-size: $font-32px;
            color: $background-color-secondary;
        }

        @include hide-on-mobile();
    }

    .story {
        margin: 8px;

        display: flex;
        align-items: center;
        flex-direction: column;

        &__user-icon {
            &__image {
                background-image: url("../images/story-border.svg");
                background-size: cover;
                background-position: center;

                width: 56px;
                height: 56px;
                object-fit: cover;
                border-radius: 50%;

                padding: 4px;
            }

            &__user-name {
                text-align: center;
                font-size: $font-12px;
            }
        }
    }
}

// Sidebar

.sidebar {
    margin-left: 30px;
    position: sticky;

    top: 88px;

    max-width: 300px;

    @include phone-max-935px() {
        display: none;
    }

    .main-user {
        display: flex;
        align-items: center;

        padding: 30px 0;

        &__user-icon {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;

            margin-right: 15px;
        }

        &__name {
            &__user {
                padding-bottom: 5px;
            }
        }
    }

    .recommended-users {
        font-size: $font-14px;

        &__header-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        &__set {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .recommended-user {
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 7px 0;

                &__user-icon {
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 11px;
                }

                &__name {
                    &__user {
                        font-size: $font-14px;
                        padding-bottom: 5px;
                    }

                    &__status {
                        font-size: $font-12px;
                        color: $light-font-color;
                    }
                }
            }
        }

        &__follow-button {
            color: $follow-button-color;
            cursor: pointer;
        }
    }

    &__footer {
        font-size: $font-11px;
        color: $lighter-font-color;

        margin-bottom: 10px;

        &__list {
            list-style-type: none;

            list-style-position: inside;

            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            margin: 30px 0 18px 0;

            .list-link {
                margin-right: 4px;

                &::after {
                    content: " •";
                }
                a {
                    color: $lighter-font-color;
                    &:visited {
                        color: inherit;
                    }
                }
            }
        }
    }
}

// Timeline - Posts

.posts {
    background-color: $background-color-main;

    @include card-size(614px);

    .post {
        margin-bottom: 60px;

        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background-color: $background-color-secondary;

        @include border-full-desktop();

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px;

            &__user {
                display: flex;
                align-items: center;

                &__user-icon {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 15px;
                }

                &__user-name {
                    font-size: $font-14px;
                    font-weight: 500;
                }
            }
        }

        &__content {
            &__image {
                display: block;
                width: 100%;
                aspect-ratio: auto 4 / 5;
                object-fit: cover;
            }

            &__video {
                display: block;
                width: 100%;
                aspect-ratio: 4 / 5;
                object-fit: cover;
            }
        }

        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 10px;

            &__icon-button {
                font-size: 1.5rem;

                ion-icon {
                    margin: 0 5px;
                }
            }
        }

        &__info {
            display: flex;
            align-items: center;

            margin: 0 15px 13px 15px;

            &__user-icon {
                width: 20px;
                height: 20px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 5px;
            }

            p {
                font-size: $font-14px;
            }
        }

        &__comments {
            margin: 0 15px;
            font-size: $font-14px;

            &__add-comment {
                margin: 15px 0 5px 0;
                padding: 0 15px;

                ion-icon {
                    font-size: $font-24px;
                    cursor: pointer;
                }

                @extend %border-default-top;
                display: flex;
                justify-content: space-between;
                padding-top: 5px;
                align-items: center;

                &__input {
                    flex-grow: 1;
                    margin: 0 5px;
                    border: none;
                    outline: none;
                    padding: 10px;

                    &::placeholder {
                        color: $light-font-color;
                    }
                }

                &__button {
                    color: $publish-button-color;
                    cursor: pointer;
                    transition: 300ms;
                    font-size: $font-14px;

                    &:hover {
                        color: $publish-button-color--hover;
                    }
                }
            }

            .comment {
                display: flex;
                justify-content: space-between;

                padding-top: 7px;

                &__set {
                    display: flex;
                }

                &__user {
                    padding-right: 5px;
                }

                &__text {
                    padding-right: 5px;
                }

                &__like {
                    cursor: pointer;
                    margin-right: 4px;
                }
            }
        }
    }
}

// Footer - Mobile

.bottom-nav {
    background-color: $background-color-secondary;
    height: 54px;

    @extend %border-default-top, %border-default-left, %border-default-right;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__icons {
        font-size: 1.5rem;
        margin: 17px;
    }

    @include desktop-min-614px() {
        display: none;
    }
}
